header {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 2em 0;
}

.header-link {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Ensures the color matches the rest of the header */
    cursor: pointer; /* Changes the cursor to a pointer when hovering */
}


body{
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
}

footer {
    font-family: 'Courier New', Courier, monospace;
    text-align: center; /* Center-align text */
    bottom: 0;
    padding: 20px; /* Spacing around the content */
    color: black;
    margin: 10%;
}

footer p {
    margin-bottom: 10px; /* Spacing between copyright and social media links */
}

.hover-image-text {
    position: relative;
    cursor: pointer; /* Optional: change cursor to pointer */
    color: #0000ff; /* Optional: change text color */
    text-decoration: none;

}

.hover-image {
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    position: absolute;
    top: 100%; /* Position below the text */
    left: 0;
    width: 200px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    z-index: 10; /* Ensure it appears above other elements */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: add a shadow */
    border: 1px solid #ccc; /* Optional: add a border */
}

.hover-image-text:hover .hover-image {
    opacity: 1;
    pointer-events: auto;
}
.responsive-image {
  display: block;
  max-width: 90%;   /* leaves white space on sides */
  height: auto;     /* keeps aspect ratio */
  margin: 2rem auto; /* centers the image */
}

/* Remove underline from all anchor elements by default */
a {
    text-decoration: none;
}